@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@mixin btn(){
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: .8rem;
    width: 7rem;
    margin: auto;
    padding: .3rem;
    border-radius: 4px;
    border: 1px solid v.$btn-color;
    color: v.$btn-color;
    background: v.$btn-bg;
    transition: .3s linear;
        &:hover{
            background: v.$bg-linear;
            cursor: pointer;
        }
        &:active{
            transform: translateY(-2px);
        }
}
*{
    padding: 0;
    margin: 0;
}
*,::after,::before{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 16pt;
}
body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  min-height: 80vh;
  display: grid;
  place-content: center;
}
main{
    width: 28rem;
    background: v.$bg-linear;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: 1.2rem 1.5rem;
    border-radius: v.$radius;
}
.w-location, .w-string{
    color: v.$accent-color1;
}
.w-desc{color: v.$accent-color3;}
img{
    width: 4.375rem;
    margin: auto;
}
ul{
    list-style: none;
    background: v.$accent-color1;
    border-radius: v.$radius;
    color: v.$accent-color3;
    border: v.$border;
}
li{
    padding: .4rem;
}
li:not(:last-child){
    border-bottom: v.$border;
}
.change-location{
    @include btn();
}
/* modal */
.modal{
    display: none;
    width: 100%;
    height: 100%;
    border: 1px solid;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    top: 0;
}
.modal.active{
    display: block;
}
.modal-container{
    max-width: 26rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    padding: .8rem 1rem;
    background: v.$bg v.$btn-bg;
    margin-top: 2.8rem;
}
.modal-heading{
    display: flex;
    justify-content: space-between;
        h3{
            color: v.$bg;
        }
}
input{
    width: 100%;
    padding-left: .5rem;
            padding-top: .2rem;
            padding-bottom: .2rem;
            font-size: .85rem;
            caret-color: v.$bg;
            outline: none;
            transition: .3s linear;
            border: v.$border;
            border-radius: 3px;
                &:focus{
                    box-shadow: 0 4px 12px rgba(20, 149, 233, 0.2);
                }
        }
label{
    font-size: .85rem;
}

.save-location{
    @include btn();
    margin-top: .5rem;
}
svg{
    fill: v.$accent-color3;
}
@media screen and (max-width: 37.5rem) {
    body {
        background: v.$bg-linear;
        display: block;
        place-content: unset;
    }
main{
    width: 100%;
    padding: 1.2rem 1rem;
    border-radius: unset;
}
}
@media screen and (max-width: 28.125rem) {
    html{
        font-size: 14pt;
    }
}